services:
  stock_backend_api:
    build:
      context: ../TPI-BACK-STOCK
      dockerfile: Dockerfile
    container_name: stock_backend_api
    ports:
      - "8001:8000"
    environment:
      NODE_ENV: production
      PORT: 8000

      # Configuración Supabase - Session Pooler
      DB_HOST: aws-1-us-east-2.pooler.supabase.com
      DB_PORT: 5432
      DB_NAME: postgres
      DB_USER: ${SUPABASE_DB_USER}
      DB_PASSWORD: ${SUPABASE_DB_PASSWORD}
      DB_OPTIONS: ${SUPABASE_DB_OPTIONS}
      # Keycloac config
      KEYCLOAK_TOKEN_URL: ${KEYCLOAK_TOKEN_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}

      # Configuración para Keycloak:
      KEYCLOAK_ISSUER_URL: http://host.docker.internal:8080/realms/ds-2025-realm
      KEYCLOAK_AUDIENCE: grupo-05
    networks:
      - tpi_network
    restart: unless-stopped

networks:
  tpi_network:
    driver: bridge
